/* 
  Цвета для темной темы
  Чтобы применить, добавляем класс(из js) следующим образом:
  document.documentElement.classList.add('theme-dark'); 
*/
.theme-dark {
  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-grey-lighter);

  --color-category: rgba(255, 255, 255, 0.6);
  --color-category-active: var(--color-yellow);

  --color-header-background: var(--color-black);
  --color-header-border: var(--color-white);
  --menu-icon-color: var(--color-white);
  --color-background: var(--color-grey-darker);
}
