:root {
  // Colors

  --color-black: #111111;
  --color-white: #ffffff;
  --color-blue: #4f2ee8;
  --color-yellow: #eac645;
  --color-grey-darker: #202024;
  --color-grey-lighter: #b4afaf;

  // Цвета для светлой темы (по умолчанию)

  // основной цвет фона
  --color-background: var(--color-white);
  // цвет фона хедера
  --color-header-background: var(--color-white);
  // основной цвет текста
  --color-text-primary: var(--color-black);
  // цвет светло-серых подзаголовков
  --color-text-secondary: var(--color-grey-lighter);
  // цвет текста в блоке категории
  --color-categories: rgba(17, 17, 17, 0.6);
  // цвет активной в данный момент категории
  --color-categories-active: var(--color-blue);

  // Misc

  --font-family-primary: 'DM Sans', sans-serif;
}
