@mixin alignment(
  $positionAI: stretch,
  $positionJC: flex-start,
  $direction: row
) {
  display: flex;
  align-items: $positionAI;
  justify-content: $positionJC;
  flex-direction: $direction;
}

@mixin transition($property...) {
  transition-property: $property;
  transition-duration: var(--transition-delay);
  transition-timing-function: var(--transition-timing-func);
}
