:root {
  // Colors

  --color-black: #111111;
  --color-white: #ffffff;
  --color-blue: #4f2ee8; // 79, 46, 232
  --color-yellow: #eac645;
  --color-grey-darker: #202024;
  --color-scroll: #e0e0e0;
  --color-grey-light: #b4afaf;
  --color-grey-lighter: #f6f6f6;

  // Цвета для светлой темы (по умолчанию)

  // основной цвет фона
  --color-background: var(--color-grey-lighter);
  // цвет фона хедера
  --color-header-background: var(--color-white);
  // цвет рамки хедера
  --color-header-border: var(--color-black);
  // основной цвет текста
  --color-text-primary: var(--color-black);
  // цвет светло-серых подзаголовков
  --color-text-secondary: var(--color-grey-light);
  // цвет текста в блоке категории
  --color-category: rgba(17, 17, 17, 0.6);
  // цвет активной категории
  --color-category-active: var(--color-blue);
  // цвет скролла в блоке категории
  --color-nav-scroll: var(--color-scroll);
  // цвет бекдропа для модалок и лоадера
  --color-backdrop: rgba(17, 17, 17, 0.4); //rgba(79, 46, 232, 0.7);

  //цвет фона карточки шопинг листа
  --color-shop-card-background: var(--color-white);
  //цвет текста шопинг листа
  --color-shop-list-text: var(--color-black);
  --color-header-border: var(--color-black);
  --menu-icon-color: var(--color-black);

  --color-auth-form-background: var(--color-grey-lighter);
  --color-auth-form-border: var(--color-black);

  --color-loader-backdrop: var(--color-white);
  --color-loader-spinner: var(--color-black);

  // Misc

  --font-family-primary: 'DM Sans', sans-serif;

  --transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-delay: 250ms;
  --transition-params: var(--transition-timing-func) var(--transition-delay);
}

// breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
