//
// Loader backdrop
//

[data-backdrop][data-loader] {
  background-color: var(--color-loader-backdrop);
  opacity: 0.6;
}

.js-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//
// Spinner
//

.lds-spinner {
  position: relative;
  display: inline-block;

  width: 60px;
  height: 60px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;

  width: 6px;
  height: 18px;

  border-radius: 20%;
  background-color: var(--color-loader-spinner);
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
