<!-- Auth form -->
<div data-backdrop data-hidden data-auth-form>
  <div class="glow"></div>
  <form class="auth-form">
    <button class="auth-form__close" type="button">
      <svg>
        <use href="./images/sprite.svg#icon-close-new"></use>
      </svg>
    </button>

    <!-- name -->
    <label class="auth-form__field" data-name>
      <input
        class="auth-form__input"
        type="text"
        name="name"
        placeholder="name"
        pattern="^[A-za-z][a-z]*(\s+[A-Za-z][a-z]*)?$"
      />
    </label>

    <!-- email -->
    <label class="auth-form__field">
      <input
        class="auth-form__input"
        type="email"
        name="email"
        placeholder="email"
        required
      />
      <svg class="auth-form__icon">
        <use href="./images/sprite.svg#icon-mail-new"></use>
      </svg>
    </label>

    <!-- password -->
    <div class="auth-form__password">
      <label class="auth-form__field" data-pass>
        <input
          class="auth-form__input"
          type="password"
          name="password"
          placeholder="password"
          required
        />
        <svg class="auth-form__icon">
          <use href="./images/sprite.svg#icon-lock-new"></use>
        </svg>
      </label>

      <!-- show password -->
      <label class="auth-form__show-pass">
        <input type="checkbox" />
        <span>Show password</span>
      </label>
    </div>

    <!-- submit -->
    <button class="auth-form__submit" type="submit">
      <span>sign in</span>
    </button>

    <!-- form type -->
    <fieldset class="auth-form__mode">
      <label>
        <input
          class="auth-form__radio"
          type="radio"
          name="formMode"
          value="signup"
        />
        <span>sign up</span>
      </label>
      <label>
        <input
          class="auth-form__radio"
          type="radio"
          name="formMode"
          value="signin"
        />
        <span>sign in</span>
      </label>
    </fieldset>
  </form>
</div>
