<div class="container">
  <h1 class="bestsellers__category">
    Best Sellers <span class="bestsellers__text-part">Books</span>
  </h1>
  <h2 class="bestsellers__category-type">Combined Print and E-Book Fiction</h2>

  <div class="book__wrapper">
    <a href="" class="book__link">
      <img src="" alt="" class="book__img" />
      <h3 class="book__name">I will find you</h3>
      <p class="book__author">Harlan Coben</p>
    </a>
  </div>
  <button type="button" class="btn bestsellers__btn">see more</button>
</div>
