<section class="bestsellers__section">
  <div class="container" data-name="category">
    <!-- <h1 class="bestsellers__category">
      Best Sellers <span class="bestsellers__text-part">Books</span>
    </h1>

    <ul class="bestsellers__list"> -->
      <!-- <li class="bestsellers__item">
        <h2 class="bestsellers__category-type">
          Combined Print and E-Book Fiction
        </h2>
        <ul class="book__list">
          <li class="book__item">
            <a href="#" class="book__link">
              <img src="#" alt="image" class="book__img" />
              <h3 class="book__name">I will find you</h3>
              <p class="book__author">Harlan Coben</p>
            </a>
          </li>
        </ul>
        <button type="button" class="btn bestsellers__btn">see more</button>
      </li> -->
    <!-- </ul> -->
  </div>
</section>
