<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal-btn" data-modal-close>
        <svg class="modal-icon" width="18px" height="18px">
          <use href="./images/sprite1.svg#close"></use>
        </svg>
      </button>
 <ul>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="">
            <svg>
                <use></use>
            </svg>
        </a>
    </li>
 </ul>
  </div>
  