<div class="backdrop-footer" data-footer-modal>
    <div class="modal-footer">
      <button class="modal-btn-close" data-footer-modal-close>
        <svg class="modal-icon-close" width="18px" height="18px">
          <use href="./images/sprite.svg#icon-footer-close"></use>
        </svg>
      </button>
 <ul class="footer__wrapper">
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/Ptz81" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Taras</p>
        <p class="footer__teamrole">Team Lead</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/UlianaKud" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Uliana</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/Djoult" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Ihor</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/dusixx" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Andrii</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/magistrkim" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Nataliya</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/AlenaRublik" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Alena</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/oleksandraburymenko" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Oleksandra</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/YanaAntakova" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">YanaA</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/Sharuda" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">YanaSh</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/Serdiuk-Serhii" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Serhii</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/parasolya" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Olha</p>
        <p class="footer__teamrole">Developer</p>
    </li>
    <li class="footer__item">
        <a class="footer__gh" href="https://github.com/KovalVladyslav" target="_blank">
            <svg class="footer-gh-icon" width=100% height=100%>
                <use href="./images/sprite.svg#icon-footer-modal"></use>
            </svg>
        </a>
        <p class="footer__name">Vladyslav</p>
        <p class="footer__teamrole">Developer</p>
    </li>
</ul>
  </div>
  