<header class="page-header">
    <div class="page-header__container">
        <a href="./index.html" class="logo">
            <svg class="logo__icon">
                <use></use>
            </svg>
            <svg class="logo__text">
                <use></use>
            </svg>
        </a>
        <button class="menu-toggle js-open-menu" 
        aria-expanded="false"
        aria-controls="mobile-menu"
        >
            <!-- <svg width="28px" height="28px" aria-label="Перемикач мобільного меню">
                <use class="icon-menu" href=""></use>
            </svg> -->
        </button>
        <nav class="nav menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="./index.html" class="menu__link">Home</a></li>
                <li class="menu__item"><a href="./shopping-list.html" class="menu__link">Shopping list</a></li>
            </ul>
        </nav>
        <div class="switch">
            <input class="switch__input" type="checkbox" id="darkmode-toggle"/>
            <label class="switch__label" for="darkmode-toggle">
        </div>
        <button class="user" type="button">User</button>
    </div>
</header>
