<div class="menu-container js-menu-container" id="mobile-menu">
    <div class="mobile-header">
        <div class="logo">
            <a href="./index.html" class="logo__link">
                <svg class="logo__icon">
                    <use></use>
                </svg>
                <svg class="logo__text">
                    <use></use>
                </svg>
            </a>
        </div>
        <div class="switch">
            <input class="switch__input" type="checkbox" id="darkmode-toggle"/>
            <label class="switch__label" for="darkmode-toggle">
        </div>
        <button class="menu-toggle js-close-menu">
            <svg width="28px" height="28px" aria-label="Перемикач мобільного меню">
                <use class="icon-cross" href=""></use>
            </svg>
        </button>
    </div>
    <div>
        <button class="user" type="button">User</button>
        <nav class="nav mobile-menu">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a href="./index.html" class="mobile-menu__link">Home</a></li>
                <li class="mobile-menu__item"><a href="./shopping-list.html" class="mobile-menu__link">Shopping list</a></li>
            </ul>
        </nav>
        <button class="logout-btn" type="button">Log out</button>
    </div>

</div>
