<div class="menu-container js-menu-container" id="mobile-menu">
    <div class="mobile-header">
        <a href="../index.html" class="logo">
            <svg class="logo__icon">
                <use></use>
            </svg>
            <svg class="logo__icon">
                <use></use>
            </svg>
        </a>
        <div class="switch">
            <input class="switch__input" type="checkbox" id="darkmode-toggle"/>
            <label class="switch__label" for="darkmode-toggle">
        </div>
        <button class="menu-toggle js-close-menu">
            <svg width="28px" height="28px" aria-label="Перемикач мобільного меню">
                <use class="icon-cross" href=""></use>
            </svg>
        </button>
    </div>
    <button class="user" type="button">User</button>
    <nav class="nav menu">
        <ul class="menu__list">
            <li class="menu__item"><a href="../index.html" class="menu__link">Home</a></li>
            <li class="menu__item"><a href="" class="menu__link">Shopping list</a></li>
        </ul>
    </nav>
    <button class="logout-btn" type="reset">Log out</button>
    
</div>
