<div class="main">
  <div class="nav-support">
  <!-- Uliana -->
  <section class="categories">
    <ul class="categories__container"></ul>
  </section>
  <!-- Nataliya -->
  <section class="support__section">
    <div class="support__wrapper">
      <h3 class="support__title">
        Support Ukraine
        <svg class="support__icon">
          <use href="/src/images/sprite.svg#icon-ukraine"></use>
        </svg>
      </h3>
      <div class="slider">
        <ul class="support__list"></ul>
        <div class="slider-pagination">
          <button class="support__btn">
            <svg class="support__icon">
              <use href="/src/images/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
  </div>
  <section class="bestsellers__section">
  <div class="bestsellers__container" data-name="category">
  </div>
</section>
</div>




