<!-- Модальне вікно -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal-btn" data-modal-close>
        <svg
      class="modal-icon js-modal-close"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg>
      </button>

      <!--  -->
      <div class="pop-info"></div> 
      <!--  -->
      
  
      <button class="pop__btn">Add to shopping list</button>
    </div>
  </div>

  <img
  class="pop_list-img"
  src="./images/shop-icons/bookstore.jpg"
  alt="bookstore_shop_icon"
/>

<!-- 
  <div class="modal">
    <svg
    class="modal-icon js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>  


    <div class="pop-informrm">
      <img class="photo" src="./images/image.png" alt="book_image" />

      <div class="pop_container">
        <h2 class="pop_name">HELLO BEAUTIFUL</h2>
        <p class="pop_author">Ann Napolitano</p>
        <p class="pop_description">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s
          dark past resurfaces as he gets to the know the family of his
          college sweetheart.
        </p>
        <ul class="pop_shop list">
          <li class="pop_shop-item">
            <a class="pop_shop__link link" href="#">
              <img
                class="pop_list-img"
                src="./images/shop-icons/amazon.jpg"
                alt="amazon_shop_icon"
              />
            </a>
          </li>

          <li class="pop_shop-item">
            <a class="pop_shop__link link" href="#">
              <img
                class="pop_list-img"
                src="./images/shop-icons/applebooks.jpg"
                alt="apple_shop_icon"
              />
            </a>
          </li>

          <li class="pop_shop-item">
            <a class="pop_shop__link link" href="#">
              <img
                class="pop_list-img"
                src="./images/shop-icons/bookstore.jpg"
                alt="bookstore_shop_icon"
              />
            </a>
          </li>
        </ul> 

      </div>

    </div> 
    <button
          class="pop__btn pop__btn--remove"
          data-id="${dataId.book_id}"
        >
          Remove from the shopping list
        </button>
  </div>

  <div class="overlay js-overlay-modal"></div>

   -->