<!-- Модальне вікно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn" data-modal-close>
      <svg class="modal-icon" width="18px" height="18px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="pop-info">
      <div class='pop_wrapper'></div>
    </div>
    <!-- <div class="pop-bloc-btn">
      <button class="pop__btn">Add to shopping list</button>
    </div> -->
    <div class="btn_wrapper">
      <button class="pop__btn">Add to shopping list</button>
</div>

    <p class="pop-text"></p>
  </div>
</div>



