<!-- <div class="modal_container">
  <img class="modal_img" src="./images/image.png" alt="book_image">
  <h2 class="modal_title">HELLO BEAUTIFUL</h2>
  <span class="modal_author">Ann Napolitano</span>
  <p class="modal_description">
    In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as he gets to the know the family of his college sweetheart.
  </p>
  <ul class="modal_shop-list">

    <li class="modal_list-item">
      <a href="#">
      <img class="modal_list-img" src="./images/shop-icons/amazon.jpg" alt="amazon_shop_icon">
      </a>
    </li>

    <li class="modal_list-item">
      <a href="#">
      <img class="modal_list-img" src="./images/shop-icons/applebooks.jpg" alt="apple_shop_icon">
      </a>
    </li>

    <li class="modal_list-item">
      <a href="#">
      <img class="modal_list-img" src="./images/shop-icons/bookstore.jpg" alt="bookstore_shop_icon">
      </a>
    </li>
  </ul>

 <a href="#" class="modal_btn-storage">Add to shopping list</a>
<span class="modal_btn-info">
  Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.
</span>
</div>

<div class="overlay js-overlay-modal"></div> -->



<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn" data-modal-close>
      <svg class="modal-icon" width="18px" height="18px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="pop-info"></div>

    <button class="pop__btn">Change me</button>
  </div>
</div>