<section class="shopping-cart">
  <h2 class="shopping-cart__title">
    Shopping <span class="shopping-cart__title--color-text">list</span>
  </h2>
  <ul class="shopping-cart__list">
    <!-- <li class="shopping-cart__item">
            <img src="" alt="" class="shopping-cart__book-img">
            <h3 class="shopping-cart__book-title"></h3>
            <p class="shopping-cart__book-category"></p>
            <button class="shopping-cart__btn-delete">
                <svg class="delete-icon" width="100%" height="100%">
                  <use href=""></use>
                </svg>
            </button>
            <p class="shopping-cart__book-description"></p>
            <p class="shopping-cart__book-author"></p>
            <a 
                href=""
                class="shopping-cart__book-shop"
                target="_blank"
                referrerpolicy="no-referrer"
            >
            <img src="../images/shop-icons/amazon.jpg" alt="amazon" class="amazon-icon">
            </a>
        </li> -->
  </ul>
  <div id="tui-pagination-container" class="tui-pagination"></div>
</section>
