<div class="support__wrapper">
  <h3 class="support__title">
    Support Ukraine
    <svg class="support__icon">
      <use href="/src/images/sprite.svg#icon-ukraine"></use>
    </svg>
  </h3>
  <div class="slider">
    <ul class="support__list slider-line">
      <li class="support__item">
        <p class="support__text">01</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        >
          <img
            src="/src/images/support-images/save@1x.png"
            alt="Save the Children"
            class="support__logo"
            srcset="
              /src/images/support-images/save@1x.png 1x,
              /src/images/support-images/save@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">02</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://www.projecthope.org/country/ukraine/"
        >
          <img
            src="/src/images/support-images/hope@1x.png"
            alt="Project HOPE"
            class="support__logo"
            srcset="
              /src/images/support-images/hope@1x.png 1x,
              /src/images/support-images/hope@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">03</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://u24.gov.ua/uk"
        >
          <img
            src="/src/images/support-images/united@1x.png"
            alt="UNITED24"
            class="support__logo"
            srcset="
              /src/images/support-images/united@1x.png 1x,
              /src/images/support-images/united@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">04</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://internationalmedicalcorps.org/country/ukraine//"
        >
          <img
            src="/src/images/support-images/corps@1x.png"
            alt="International Medical Corps"
            class="support__logo"
            srcset="
              /src/images/support-images/corps@1x.png 1x,
              /src/images/support-images/corps@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">05</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://www.msf.org/ukraine"
        >
          <img
            src="/src/images/support-images/medecins@1x.png"
            alt="Medicins Sans Frontieres"
            class="support__logo"
            srcset="
              /src/images/support-images/medecins@1x.png 1x,
              /src/images/support-images/medecins@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">06</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://www.razomforukraine.org/"
        >
          <img
            src="/src/images/support-images/razom@1x.png"
            alt="RAZOM"
            class="support__logo"
            srcset="
              /src/images/support-images/razom@1x.png 1x,
              /src/images/support-images/razom@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">07</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://www.actionagainsthunger.org/location/europe/ukraine/"
        >
          <img
            src="/src/images/support-images/action@1x.png"
            alt="Action against hunger"
            class="support__logo"
            srcset="
              /src/images/support-images/action@1x.png 1x,
              /src/images/support-images/action@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">08</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://www.wvi.org/emergencies/ukraine"
        >
          <img
            src="/src/images/support-images/world@1x.png"
            alt="World vision"
            class="support__logo"
            srcset="
              /src/images/support-images/world@1x.png 1x,
              /src/images/support-images/world@2x.png 2x
            "
          />
        </a>
      </li>
      <li class="support__item">
        <p class="support__text">09</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="company icon"
          class="support__link"
          href="https://prytulafoundation.org/en"
        >
          <img
            src="/src/images/support-images/prytula@1x.png"
            alt="Serhiy Prytula Charity Foundation"
            class="support__logo"
            srcset="
              /src/images/support-images/prytula@1x.png 1x,
              /src/images/support-images/prytula@2x.png 2x
            "
          />
        </a>
      </li>
    </ul>
    <div class="slider-pagination">
      <button class="support__btn">
        <svg class="support__icon">
          <use href="/src/images/sprite.svg#icon-arrow-down"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
