.bestsellers {
  /* .bestsellers__section */

  &__section {
    padding-top: 40px;
  }

  /* .bestsellers__category */

  &__category {
    margin-bottom: 40px;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);

    letter-spacing: -0.04em;

    color: var(--color-text-primary);
  }

  // /* .bestsellers__text-part */

  &__text-part {
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);

    letter-spacing: -0.04em;

    color: var(--color-blue);
  }

  // /* .bestsellers__list */

  // &__list {
  // }

  // /* .bestsellers__item */

  &__item {
    margin-bottom: 40px;
  }

  // /* .bestsellers__category-type */

  &__category-type {
    margin-bottom: 18px;

    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: 0.03em;
    color: var(--color-text-secondary);
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      line-height: calc(24 / 14);
    }
  }

  // /* .bestsellers__btn */

  &__btn {
    max-width: 124px;
    max-height: 46px;
    padding: 14px 26px;

    display: block;
    margin-left: auto;

    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14);

    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: var(--color-text-primary);
    background-color: inherit;
    border: 2px solid var(--color-blue);
    border-radius: 40px;

    &:hover,
    &:focus {
      @include transition(color);
      cursor: pointer;
      color: var(--color-white);
      background-color: var(--color-category-active);
    }

    &--disabled {
      color: var(--color-grey-light);
      &:hover {
        background-color: inherit;
        cursor: auto;
        color: var(--color-grey-light);
      }
    }
  }

  // bestsellers__container

  &__container {
    padding-top: 40px;
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: $tablet) {
      max-width: 768px;
      padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 996px;
      padding: 0;
    }
  }
}

.book {
  /* .book__list */

  &__list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    @media screen and (min-width: $desktop) {
      gap: 24px;
    }
  }

  /* .book__item */

  &__item {
    margin-bottom: 8px;

    @media screen and (min-width: $tablet) {
      width: 218px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop) {
      width: 180px;
      margin-bottom: 32px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  // .book__box

  &__box {
    margin-bottom: 14px;
    @media screen and(min-width: $tablet) {
      height: 316px;
    }

    @media screen and(min-width: $desktop) {
      height: 256px;
    }

    position: relative;
    overflow: hidden;
    border-radius: 8px;
    &:hover .book__overlay,
    &:focus .book__overlay {
      transform: translateY(-100%);
    }
  }

  // /* .book__link */

  &__link {
    width: 100%;
  }

  // /* .book__img */

  &__img {
    height: 100%;
    width: 100%;
    margin-bottom: 14px;

    object-fit: cover;
  }

  // .book__overlay

  &__overlay {
    content: '';
    position: absolute;
    bottom: -70px;

    pointer-events: none;

    width: 100%;
    height: 70px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
    // transition-delay: 0;

    background: var(--color-yellow);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--color-black);
  }

  // /* .book__name */

  &__name {
    margin-bottom: 4px;

    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(18 / 16);

    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--color-text-primary);
  }

  // /* .book__author */

  &__author {
    min-width: 71px;
    min-height: 14px;

    font-family: var(--font-family-primary);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);

    letter-spacing: -0.04em;

    color: var(--color-grey-light);
  }

  // &__item--active-see-more-btn {
  //   margin-bottom: 40px;
  // }
}

.single-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $tablet) {
    justify-content: space-between;
  }
}

.single-category {
  margin-bottom: 40px;

  @media screen and(min-width: $tablet) {
    margin-bottom: 20px;
  }
}

// .btn {
// }
