.footer {
  @include alignment(center, center, row);
  height: 67px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--color-blue) 18.03%,
    var(--color-white) 100%
  );
  font-size: 16px;
  line-height: calc(18 / 16);
  color: var(--color-white);
}
.footer__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: calc(18 / 16);
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--color-white);
  cursor: pointer;
}
