.nav-support {
  @include alignment(stretch, flex-start, column);
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  @media screen and (min-width: $tablet) {
    @include alignment(stretch, center, row);
    gap: 32px;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: $desktop) {
    @include alignment(stretch, flex-start, column);
    gap: 86px;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 40px;
  }
}
.categories {
  max-width: 335px;
  @media screen and (min-width: $tablet) {
    max-width: 337px;
    padding: 0;
  }
  @media screen and (min-width: $desktop) {
    max-width: 356px;
  }
}

.categories__container {
  max-height: 228px;
  overflow-y: scroll;
  padding-right: 20px;
  scrollbar-width: auto;
  scrollbar-color: var(--color-nav-scroll) var(--color-scroll-mozila);
  @include alignment(stretch, flex-start, column);
  gap: 24px;

  @media screen and (min-width: $tablet) {
    max-height: 472px;
    gap: 32px;

    font-size: 18px;
    line-height: calc(24 / 18);
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 114px;
    @media screen and (min-width: $tablet) {
      height: 167px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-nav-scroll);
    border-radius: 12px;
  }
}

.categories__item {
  // margin-right: 20px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.02em;
  color: var(--color-category);
  text-transform: none;
  @include transition(color);
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: calc(24 / 18);
  }

  &:hover {
    color: var(--color-category-active);
  }
  &:focus {
    color: var(--color-category-active);
  }
}
.categories__text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.categories__item.is-active {
  font-weight: 700;
  color: var(--color-category-active);
  text-transform: uppercase;
}
