.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  opacity: 1;
  overflow: scroll;
  background-color: var(--color-backdrop);
  transition: opacity var(--transition-params),
    visibility var(--transition-params);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 95%;

  @media screen and(min-width: 768px) {
    padding: 40px;
  }

  border-radius: 18px;
  border: 2px solid var(--color-modal-border);
  background-color: var(--color-modal-background);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-params);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-btn {
  @extend %btn;

  position: absolute;
  right: 2px;
  top: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon {
  width: 100%;
  height: 100%;

  stroke: var(--color-modal-cross);
  transition: stroke var(--transition-params);

  &:hover,
  &:focus-visible {
    stroke: var(--color-blue);
    filter: brightness(1.1);
  }
}

.modal-form-title {
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.photo {
  width: 100%;
  height: 408px;
  object-fit: cover;
  margin-bottom: 14px;
}

.pop-text {
  margin-left: 46px;
  margin-right: 46px;
  font-size: 10px;
  text-align: center;
  color: var(--color-modal-info);
}

.pop-info {
  margin: 40px 24px;
}

.pop_name {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: var(--color-modal-title);
}

.pop_author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
  letter-spacing: -0.04em;
  color: var(--color-modal-author);
  margin-bottom: 18px;
}

.pop_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--color-modal-description);
  margin-bottom: 14px;
}

.pop_shop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.theme-dark .amazon-link {
  filter: invert(1);
}

.theme-dark .bookshop-link {
  filter: invert(1);
}

.pop_shop-item {
  margin-right: 20px;
}

.theme-dark .pop_shop-item:hover,
.theme-dark .pop_shop-item:focus {
  mix-blend-mode: luminosity;
  transform: scale(1.05);
  filter: drop-shadow(0px 3px 3px rgba(253, 253, 253, 0.15));
  transition-property: transform, filter;
  transition-duration: var(--transition-delay);
  transition-timing-function: var(--transition-timing-func);
}

.pop_shop-item:hover,
.pop_shop-item:focus {
  mix-blend-mode: luminosity;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.pop__btn {
  border: var(--color-blue) 2px solid;
  border-radius: 40px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--color-modal-title);
  text-align: center;
  display: flex;
  background-color: transparent;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.pop__btn--remove {
  padding: 14px 23px;
  margin-bottom: 8px;
}

.pop__btn:hover,
.pop__btn:focus-visible {
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop_btn-info {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--color-modal-info);
  margin-left: 46px;
  margin-right: 46px;
  word-wrap: break-word;
}

.pop_container {
  margin-bottom: 40px;
}

@media screen and (max-width: $mobile) {
  .photo {
    height: 380px;
    object-fit: cover;
  }
}

@media screen and (max-width: $pretablet) {
  .modal {
    max-width: 335px;
    height: 830px;
  }
}

@media screen and (min-width: $tablet) {
  .modal {
    width: 579px;
    height: 501px;
    margin: auto;
    padding: 0;
  }

  .modal-icon {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .pop-info {
    display: flex;
    margin: 40px 44px 40px 40px;
  }

  .photo {
    max-width: 192px;
    height: 281px;
    object-fit: cover;
    margin-bottom: 0;
    margin-right: 24px;
  }

  .pop_name {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  .pop_container {
    margin-left: 24px;
  }

  .pop_author {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .pop_description {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .pop__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-modal-btn);
    font-size: 18px;
    line-height: 24px;
  }

  .pop-text {
    font-size: 12px;
    line-height: 14px;
  }

  .btn_wrapper {
    margin: 0 40px 40px 40px;
  }
}

.pop_list-img {
  color: var(--color-modal-shop);
  filter: grayscale(100%);
}
