.scroll__up {
  position: fixed;
  right: 3%;
  bottom: 2.5%;
  z-index: 2;

  visibility: hidden;

  width: 54px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-blue);
  border-radius: 50%;
  border: none;
  opacity: 0.7;

  box-shadow: 0 0 0 0.3em rgba(79, 46, 232, 0.3);

  cursor: pointer;

  @include transition(opacity);

  &:hover,
  &:focus {
    opacity: 1;
  }
}
