.shopping-cart__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.08;
  letter-spacing: -0.04em;
  color: var(--color-shop-list-text);

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}
.shopping-cart__title--color-text {
  color: var(--color-blue);
}

//DONT FORGET ABOUT FONTS
//!!

.shopping-cart__item {
  position: relative;
  display: grid;
  align-items: start;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 24px;
  background: var(--color-shop-card-background);
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

  @media screen and (max-width: 767px) {
    grid-column-gap: 20px;
    grid-template-columns: 98px 1fr;
    grid-auto-rows: minmax(0, auto);
    grid-auto-columns: minmax(0, auto);
    max-width: 335px;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    grid-column-gap: 24px;
  }

  @media screen and (min-width: 1280px) {
    width: 996px;
  }
}
.shopping-cart__book-img {
  width: 98px;
  height: 139px;
  border-radius: 8px;

  @media screen and (max-width: 768px) {
    grid-row: 1/3;
    grid-column: 1/2;
    margin-bottom: 4px;
  }

  @media screen and (min-width: 767px) {
    width: 116px;
    height: 165px;
  }
}
.shopping-cart__main-info {
  //   width: 14px;
  margin-bottom: 24px;

  @media screen and (max-width: 768px) {
    align-self: start;
  }
}

.shopping-cart__book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: var(--color-shop-list-text);
}

.shopping-cart__book-category {
  font-size: 12px;
  line-height: 1.17;
  max-width: 150px;
  letter-spacing: 0.03em;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-grey-light);
}

.shopping-cart__btn-delete {
  position: absolute;
  top: 28px;
  right: 14px;
  padding: 0;
  margin: 0;
  border: none;
  //   text-align: center;
  //   overflow: hidden;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: auto;
}
.delete-icon {
  width: 28px;
  height: 28px;
}

.shopping-cart__book-description {
  grid-column: 1/3;
  grid-row: 5/5;
  // width: 100%;
  //   position: absolute;
  //   bottom: 0;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--color-shop-list-text);
}

.shopping-cart__book-author {
  grid-row: 4/4;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--color-grey-light);
  margin-bottom: 20px;
}

.shopping-cart__links {
  display: flex;
  align-items: center;
  gap: 14px;
  grid-row: 2/2;
  grid-column: 2/2;
  margin-top: -45px;
}

.shopping-cart__book-shop {
  // mix-blend-mode: luminosity;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  // mix-blend-mode: luminosity;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.store-icon {
  mix-blend-mode: luminosity;
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  // mix-blend-mode: luminosity;
}
.theme-dark .amazon-link {
  filter: invert(1);
}

.shopping-cart__warning {
  margin-top: 120px;
  text-align: center;
  max-width: 265px;
  margin-right: auto;
  margin-left: auto;
}

.shopping-cart__warning-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  // цвет добавить в переменную
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 14px;
  max-width: 244px;
}

.shopping-cart__warning-img {
  margin-left: auto;
  margin-right: auto;
}
